<!-- 
陳贈文 505170532 
熊宗怡 e61010003
-->
{% extends "base_generic.html" %} 
<!-- 內容 -->
{% block content %}
  <h1>當前所在位置天氣</h1>
  <h3>現在時間 : {{ date }}</h3>
  <h3 id="country">所在縣市 : 載入中...</h3>
  <h3 id="city">所在區域 : 載入中...</h2>
  <h3 id="weather">目前天氣 : 載入中...</h2>
  <h3 id="temperature">目前氣溫 : 載入中...</h3>
  <table id="table">
    <tr>
        <th>時間</th>
        <th>天氣</th>
        <th>溫度</th>
    </tr>
    <tr>
        <td>載入中...</td>
        <td>載入中...</td>
        <td>載入中...</td>
    </tr>
  </table>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block js %}
<script>
  function getWeatherReport(lat, lng) {
    $.ajax({
      type: "GET",
      url: "https://"+ location.hostname + "/weather/weatherBylatAndlng?lat=" + lat + "&lng=" + lng,
      dataType: "json",
      success: function (response) {
        // 顯示所在區域
        $("#country").text("所在縣市 : " + response['country']);
        $("#city").text("所在區域 : " + response['city']);

        // 顯示當下的天氣
        let allweathers = response.repoter[0];
        let alltemperatures = response.repoter[1];
        let nowWeathers = allweathers.time[0];
        let nowTemperatures = alltemperatures.time[0];
        $("#weather").text("目前天氣 : " + nowWeathers.elementValue[0].value);
        $("#temperature").text("目前氣溫 : " + nowTemperatures.elementValue[0].value + " °C");

        // 建立未來兩天的預報
        $('#table').text("");

        let title = $('<tr> \
              <th>時間</th> \
              <th>天氣</th> \
              <th>溫度</th> \
        </tr>');

        title.appendTo('#table');
        
        for (let index = 0; index < allweathers.time.length; index++) {
          let tr = $('<tr></tr>')
          tr.appendTo('#table')
          let weather = allweathers.time[index];
          let temperature = alltemperatures.time[index];
          let timetd = $("<td>" + weather.startTime + "~" + weather.endTime + "</td>");
          timetd.appendTo(tr);
          let weathertd = $('<td>' + weather.elementValue[0].value + "</td>" );
          weathertd.appendTo(tr);
          let temperaturetd = $('<td>' + temperature.elementValue[0].value + " °C" + "</td>");
          temperaturetd.appendTo(tr);
        }
      },
      error: function (thrownError) {
        console.log(thrownError);
        alter("目前站點繁忙，請稍後再重新整理該頁面");
      }
    });
  }

  // 要求當前位置天氣狀況
  if( "geolocation" in navigator ) {  // 有些瀏覽器不支援要先檢查是否支援
    navigator.geolocation.getCurrentPosition(function(position) {
      // 透過Ajax進行請求
      getWeatherReport(position.coords.latitude, position.coords.longitude);
    }, function(){
      alert("您目前已經禁用地理位置的抓取，如需要觀看所在地天氣請准許抓取地理位置後重新整理該頁面")
    });
  } else {
    console.log("此瀏覽器不支援抓取當前位置")
  }
</script>
{% endblock %}